.sns-icons {
    position: absolute;
    top: -60px;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sns-icons img {
    display: block;
    border-radius: 100px;
}
.active-icon {
    width: 10%;
    height: 10%;
    box-shadow: 2px 2px 4px gray;
    margin: 0 10px;
}
.inactive-icon {
    width: 7%;
    height: 7%;
    box-shadow: 2px 2px 4px gray;
    margin: 0 8px;
    line-height: 150px;
    top: 13%;
    transform : translateY(-13%);
}

.active-icon:hover, .inactive-icon:hover {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
}