a{
    text-decoration: none;
    color:#000000;
}
.left-box{
    width:30%;
    height:100%;
}
.right-box{
    width: 70%;
    height:100%;
    text-align: left;
}
.icon{
    width:60px;
    height:60px;
    border-radius: 50px;
    margin:10px 0 0 10px;
}
.user-name{
    margin-top: 5px;
}
.user-id{
    margin-top:0;
    line-height: 5px;
}
.textwrap{
    margin-top: 25px;
}
